<table mat-table [dataSource]="dataSource" class="mat-table">

  <ng-container matColumnDef="id">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Id </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nom">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Nom </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="quantite">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Quantité Restante </th>
    <td class="mat-cell"mat-cell *matCellDef="let element"> {{element.quantite}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Description </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="pointGeo">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Point Géographique </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.pointGeo}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Modifier </th>
    <td class="mat-cell" mat-cell *matCellDef="let element">
      <button class="boutontableau" mat-button color="primary" (click)="onEdit(element)">Modifier</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Supprimer </th>
    <td class="mat-cell" mat-cell *matCellDef="let element">
      <button class="boutontableau" mat-button color="warn" (click)="onDelete(element)">Supprimer</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="reserve">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Réserver </th>
    <td class="mat-cell" mat-cell *matCellDef="let element">
      <button class="boutontableau" mat-button color="accent" (click)="onReserve(element)">Réserver</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div id="bouton">
  <a (click)="formTerrain()">Créer un nouveau terrain</a>
</div>