<table mat-table [dataSource]="dataSource" class="mat-table">

  <ng-container matColumnDef="username">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Nom d'utilisateur </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{ element.username }} </td>
  </ng-container>

  <ng-container matColumnDef="terrainName">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Nom du terrain </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{ element.terrainName }} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Supprimer </th>
    <td class="mat-cell" mat-cell *matCellDef="let element">
      <button class="boutontableau" mat-button color="warn" (click)="onDelete(element)">Supprimer</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
