<div class="formulaire">
  <p>FORMULAIRE DE RESERVATION POUR LE TERRAIN SUIVANT : {{this.nomterrain}}</p>

  <div *ngIf="successMessage" class="success-message">
    <p>{{ successMessage }}</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <form #reservationForm="ngForm" (ngSubmit)="submitForm(reservationForm)">

    <!-- Champ pour le nombre de réservations -->
    <label for="nombreReservations">
      Combien de réservations souhaitez-vous faire ? :
      <input id="nombreReservations" type="number" name="nombreReservations" [(ngModel)]="nombreReservations" required min="1" #nombreReservationsModel="ngModel" />
      <div *ngIf="nombreReservationsModel.touched">
        <small *ngIf="nombreReservationsModel.errors?.['required']">Le nombre de réservations est requis.</small>
        <small *ngIf="nombreReservationsModel.errors?.['min']">Le nombre de réservations doit être au moins 1.</small>
      </div>
    </label>

    <button type="submit" [disabled]="reservationForm.invalid">Soumettre</button>
  </form>
</div>
